/*
* @Author: MilFun
* @Date:   2020-03-19 12:16:30
* @Last Modified by:   milfun
* @Last Modified time: 2020-03-19 12:17:28
*/
@import "../_var";

.tc-card{
    width:388px;
    height:123px;
    padding: 14px;
    background:$white;
    box-sizing: border-box;
}