@charset "UTF-8";
/**
 * var.scss 变量
 * @author Kayo&Clearwu
 * @date 2014-11-14
 *
 *
 */

// #common 通用
$fontFamily: "Helvetica Neue", Helvetica, Verdana, san-serif;
$fontSize: 14px;
$body_background: #F2F2F7;
$body_color: #000;
$color_link: #2685D2;

//基本颜色-黑白灰
$black:#212121;
$white:#FFFFFF;
$gray:#757575;
$gray-light:#BDBDBD;
$blue:#409EFF;
$red:#FF4C4C;
$alpha:transparent;

// #主题色
$color:#409EFF;
$color-light:#407EFF;

