/*
* @Author: MilFun
* @Date:   2020-03-19 10:51:38
* @Last Modified by:   milfun
* @Last Modified time: 2020-03-19 12:17:48
*/
// 业务公共变量
@import "_var";

// 业务公共组件
@import "widget/_widget";

// 组件样式文件分在各个组件scss里面，总样式写在milfun.scss文件里
body, button, input, option, select, td, textarea {
    font-family: arial,verdana,helvetica,'PingFang SC','HanHei SC',STHeitiSC-Light,Microsoft Yahei,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $fontSize;
    background: $body_background;
}
a:active, a:focus, a:hover, button, input, textarea {
    outline: 0;
}
a, b, body, button, dd, div, dl, em, footer, form, h1, h2, h3, h4, h5, h6, i, input, label, li, nav, p, select, span, td, textarea, u, ul {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
}

.docker{
    padding: 10px 20px;
}

.tc-move{
    display: flex;
    flex-direction: row;
    padding: 32px 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.img-20{width: 20px;height: 20px;}
.img-30{width: 30px;height: 30px;}